#tituloModal {
  text-align: center;
  font-weight: bold;
  font-size: 20;
}
#descricaoModal {
  text-align: justify;
  padding: 2px;
}
#botaoFecharModal {
  margin-top: 0px;
  margin-left: 0px;
}
#modalConteudo {
  display: none;
  background-color: #fefefe;
  margin: auto;
  height: 30%;
  border: 1px solid #888;
  width: 60%;
  border-radius: 3px;
}
.teste {
  animation: mymove 1s infinite;
}
@-webkit-keyframes mymove {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.1;
  }
}
#modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
